<li id="message-{{message.id}}">
    <span class="author">{{message.author}}</span>
    [<time class="timestamp" datetime="{{message.timestamp}}">{{message.timestamp}}</time>]
    <span class="message">{{message.message}}</span>
</li>