<li id="message-{{message.id}}" class="message">
    <span class="message-author">{{message.author}}</span>
    [<time class="message-timestamp" datetime="{{message.timestamp}}">{{message.timestamp}}</time>]:
    <span class="message-content">{{message.content}}</span>
</li>